.color{
    width: 150px;
    height: 150px;
    transition: transform 300ms;
}

.color:hover{
    transform: scale(0.9);
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

#start:hover{
    background-color: white;
    color: black;
}

#correct, #incorrect{
    pointer-events: none;
    position: absolute;
    width: 5%;
    opacity: 0;
}

.fadeAway{
    animation-name: fadeAway;
    animation-duration: 1000ms;
}

@keyframes fadeAway{
    0%{opacity: 1}
    50%{opacity: 1}
    100%{opacity: 0}
}